<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
		<title>food vibes</title>
		<link rel="stylesheet" href="style.css">
    </head>
    <body>
    <script>
        const key = "b9144087445642548997f02c574886f9";
        var rit_store_number = 62;
        var stuffs = null;
        var stuffz = [];
        if ("<%= songgenre%>" === "Hip Hop" || "<% songgenre%>" === "Rap") {
            stuffs = ["Sweet Baby Ray's Original", "Sprite 16.9oz", "Takis 9.9 oz", "Mac&ampCheese"];
        }
        else if ("<%= songgenre%>".includes("Rock")) {
            stuffs = ["Bud Light Beer"];
        }
        else if ("<%= songgenre%>" === "Dance") {

        }
        else if ("<%= songgenre%>".includes("Electro")) {
            stuffs = ["Monster Energy Drink", "Bang Energy", "Red Bull", "Rockstar Energy"]
        }
        async function findFoods(foods) { //gets SKUs from list of foods
            for (let food of foods) {
                console.log(foods.length);
                let skuu = await axios.get(`https://api.wegmans.io/products/search?query=${food}&api-version=2018-10-18&Subscription-Key=${key}`);
                console.log(skuu.data.results[0]);
                let stuff = parseInt(skuu.data.results[0].sku);
                stuffz.push(stuff);
                console.log(stuff);
            }
            console.log(stuffs);
            var i = 0;
            for (let thing of stuffz) { //gets price for each item
                console.log(thing)
                let location = await findPrice(thing, 62);
                console.log(location);
                document.getElementById(`food${i + 1}`).innerHTML = stuffs[i] + " $" + parseFloat(location);
                i += 1
            }
        }
        async function findPrice(sku, store) { //gets prices

            let location = await makeGetRequest(`https://api.wegmans.io/products/${sku}/prices/${store}?api-version=2018-10-18&subscription-key=${key}`)
            var stringystring = location;
            console.log(stringystring);

            return stringystring;
        }

        async function makeGetRequest(url) {
            let res = await axios.get(url);
            let data = res.data.price;
            return data;
        }

        findFoods(stuffs);

    </script>
        <div class="center-div">
            <h1>food vibes</h1>
            <h1>your song</h1>
            <h2 id="song-name">name: <%= songname%></h2>
            <h2 id="song-artist">artist: <%= songartist%></h2>
            <h2 id="song-genre">genre: <%= songgenre%></h2>
            <h1>Foods that Fit the Vibe</h1>
            <h2 id="food1"></h2>
            <h2 id="food2"></h2>
            <h2 id="food3"></h2>
            <h2 id="food4"></h2>
        </div>
        <div class="center-div song-info">

        </div>
        <div class="center-div">

        </div>
    </body>
</html>
